@import url(https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,600&display=swap);

@font-face {
  font-family: CalSans;
  font-family: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* политра 
#121212 черны фон
#262626 фон иконок
#ff6428 основной 
#121212 заголовки
#868686 абзац
#666666 серый текст блок why
#666666 основной bg
#eeeeee  второстепенный bg 
#fffff белый текс
#C4C4C4 bullet passive
#ff6428 active bullet

*/
:root {
  --accent--: #ff6428;
  --text-titel--: #121212;
  --text-secondary--: #868686;
  --text-white--: #ffffff;
  --text-grey--: #666666;
  --text-footer--: rgba(18, 18, 18, 0.6);
  --bg-footer--: #eeeeee;
  --bg-primaty-color--: #666666;
  --bg-secondary-color--: #eeeeee;
  --bg-block-why--: #121212;
  --bg-icon-why--: #262626;
  --background-color-menu: rgb(255, 255, 255, 0.8);
  --hover-button: #ba4619;
  --bullet-active--: #ff6428;
  --bullet-passive--: #C4C4C4;
  --desctop: 1092px;
  --tablet: 767.98px;
  --mobile: 479.98px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Poppins;
  color: var(--bg-primaty-color--);
}

a {
  text-decoration: none;
}



li {
  list-style: none;
}

/* -------wrapper------ */
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* -------Titel----------*/
.title {
  font-family: CalSans;
  color: var(--text-titel--);
  text-align: center;
  font-size: 44px;
  line-height: 1.2;
}

.title span {
  color: var(--accent--);
}

@media (max-width: 767.98px) {
  .title {
    font-size: 38px;
  }
}

/* PAGE */
.page {
  flex: 1 1 auto;
}

/* -------container-------------- */
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*-------menu nav------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 131px;
  align-items: center;
  min-height: 152px;
}

.menu {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: var(--background-color-menu);
}

.menu__list {
  display: flex;
  column-gap: 56px;
  row-gap: 10px;
  flex-wrap: wrap;
}



.menu__link {
  color: rgba(18, 18, 18, 0.4);
  font-weight: 500px;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 1092px) {
  .header__container {
    gap: 50px;
    min-height: 100px;
  }

  .menu__list {
    display: flex;
    column-gap: 20px;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    min-height: 65px;
  }

  .main__list {
    column-gap: 30px;
  }
}

@media (max-width: 479.98px) {
  .header__container {
    gap: 15px;
  }

  .main {
    padding: 0;
  }

  .header__logo {
    width: 28px;
    flex: 0 0 28px;
    overflow: hidden;
  }
}

/* -------HERO-------- */

.main {
  padding-bottom: 80px;
}

@media (max-width: 1092px) {
  .main {
    padding-bottom: 50px;
  }
}

@media (min-width: 767.98px) {
  .main {
    padding-bottom: 30px;
  }
}

.main__container {
  display: flex;
}

.main__content {
  flex: 0 1 50%;
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 20px;
  align-self: flex-end;
}

.main__title {
  font-family: "calsans";
  color: var(--text-titel--);
  font-size: 56px;
  line-height: 1.2;
}

.main__title span {
  color: var(--accent--);
}

.main__title:not(:last-child) {
  margin-bottom: 16px;
}

.main__text {
  line-height: 24px;
  font-weight: 500;
  max-width: 420px;
}



.main__text:not(:last-child) {
  margin-bottom: 31px;
}

.actions-main {
  display: flex;
  align-items: center;
}

.actions-main__button {
  text-align: center;
  padding: 18px 48px;
  background-color: var(--accent--);
  border-radius: 40px;
  color: var(--text-white--);
  font-weight: 600;
  line-height: 28px;
  transform: all 0.3s ease 0s;
}

.actions-main__button:hover {
  background-color: var(--hover-button);
}

.actions-main__button:not(:last-child) {
  margin-right: 40px;
}



.actions-main__icon:not(:last-child) {
  margin-right: 27px;
}

.main__decor {
  flex: 0 1 50%;
}

.main__image {
  position: relative;
  margin-right: -135px;
  padding-bottom: 97.6%;
  max-width: 672px;
}

.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 0 0 160px 375px;
}

.main__image::after {
  content: "";
  background: url("../img/main/decor.svg") 0 0 no-repeat;
  width: 80px;
  height: 80px;
  right: 36.3%;
  bottom: 0;
  transform: translate(0, 50%);
  position: absolute;
}

@media (max-width: 1092px) {
  .main__image img {
    width: 100%;
  }

  .main__content {
    flex: 0 0 60%;
    padding-bottom: 0;
  }

  .main__decor {
    flex: 0 0 40%;
  }
}

@media (max-width: 767.98px) {
  .main__content {
    flex: 1 1 100%;
    padding-right: 0;
    padding-top: 80px;
  }

  .main__decor {
    display: none;
  }

  .main__title {
    font-size: 44px;
  }
}

@media (max-width: 479.98px) {
  .actions-main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .actions-main__button {
    flex: 1 1 100%;
  }

  .actions-main__button:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

/* ------------Store---------------- */

.store {
  padding-top: 80px;
  padding-bottom: 90px;
}



.store__title {
  margin-bottom: 86px;
}



/* body */
.body-store:not(:last-child) {
  margin-bottom: 96px;
}

.body-store__header {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.body-store__title {
  letter-spacing: 0.08em;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--text-titel--);
  font-weight: 600;
}

.body-store__all {
  color: var(--text-secondary--);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.body-store__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 54px;
}



/* item */
.item {
  display: grid;
}

.item__image {
  text-align: center;
}

.item__image img {
  max-width: 100%;
}

.item__image:not(:last-child) {
  margin-bottom: 40px;
}

.item__title {
  color: var(--text-titel--);
  font-size: 16px;
  line-height: 1.5;
  justify-self: start;
}

.item__title:not(:last-child) {
  margin-bottom: 7px;
}

.item__title:hover {
  text-decoration: underline;
}

.item__price {
  font-size: 14px;
  line-height: 0.6;
}

@media (max-width: 767.98px) {
  .store {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .store__title {
    margin-bottom: 50px;
  }

  .body-store__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 767.98px) {
  .store {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .store__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 479.98px) {
  .body-store__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .item__image:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* ------catigories-------- */

.categories {
  padding-top: 90px;
  padding-bottom: 110px;
}



.catigories__title {
  margin-bottom: 80px;
}

.categories__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 35px;
}



.item-category {
  position: relative;
}

.item-category:hover .item-category__image img {
  transform: scale(1.1);
}

.item-category__title {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  z-index: 3;
  color: var(--text-white--);
}

.item-category__image {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 127%;
}

.item-category__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.16) 50%,
      rgba(0, 0, 0, 0.8) 100%);
}

.item-category__image img {
  transition: all 0.3s ease 0s;
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

@media (max-width: 1092px) {
  .categories {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .categories__items {
    column-gap: 40px;
  }
}

@media (max-width: 767.98px) {
  .categories {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .catigories__title {
    margin-bottom: 50px;
  }

  .categories__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479.98px) {
  .categories {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .categories__items {
    column-gap: 20px;
  }

  .categories__items {
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ----------brends-------- */

.brends {
  padding-top: 110px;
  padding-bottom: 180px;
}



.brends__title {
  margin-bottom: 75px;
}

.brends__items {
  max-width: 1020px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 80px;
}

.brends__item {
  max-width: 100%;
}

@media (max-width: 1092px) {
  .brends__title {
    margin-bottom: 55px;
  }
}

@media (max-width: 767.98px) {
  .brends {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .brends__title {
    margin-bottom: 40px;
  }

  .brends__items {
    grid-template-columns: repeat(3, auto);
    row-gap: 50px;
  }
}

@media (max-width: 479.98px) {
  .brends {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .brends__title {
    margin-bottom: 25px;
  }

  .brends__items {
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
  }
}

/* ---------Why--------- */

.why {
  background-color: var(--bg-block-why--);
  padding-top: 90px;
  padding-bottom: 90px;
}



.why__title {
  margin-bottom: 35px;
  color: var(--text-white--);
}

.why__items {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 30px;
}



.item-why {
  display: grid;
  justify-items: center;
  padding: 40px;
  text-align: center;
}

.item-why__icon {
  background: var(--bg-icon-why--);
  border-radius: 20px;
  display: flex;
  width: 72px;
  height: 72px;
  justify-content: center;
  align-items: center;
}

.item-why__icon:not(:last-child) {
  margin-bottom: 40px;
}

.item-why__title {
  text-transform: uppercase;
  color: var(--text-white--);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.item-why__title:not(:last-child) {
  margin-bottom: 12px;
}

.item-why__text {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-grey--);
}

@media (max-width: 1092px) {}

@media (max-width: 767.98px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .item-why {
    padding: 30px;
  }

  .why__items {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 479.98px) {
  .why {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .item-why {
    padding: 20px;
  }

  .why__items {
    grid-template-columns: repeat(1, auto);
  }
}

/*-----reviews-------- */


.reviews {
  padding-top: 240px;
  padding-bottom: 240px;
}



.reviews__title {
  margin-bottom: 100px;
}

/*-----reviews slider-------- */

.slide-swiper-reviews {
  display: flex;
}



.slide-swiper-reviews__picture {
  overflow: hidden;
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  align-items: center;

}

.slide-swiper-reviews__image {
  width: 320px;
  height: 320px;
  position: relative;
}

.slide-swiper-reviews__image::before {
  content: '';
  position: absolute;
  width: 285px;
  height: 257px;
  right: 85px;
  top: 50px;
  transform: rotate(-10deg);
  background-color: var(--accent--);
  border-radius: 40px 0px 400px 400px;
}

.slide-swiper-reviews__image img {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: center;
}

.slide-swiper-reviews__body {
  flex: 0 1 50%;

}

.slide-swiper-reviews__text {
  font-size: 24px;
  line-height: 1.2;
}

.slide-swiper-reviews__text p:not(:last-child) {
  margin-bottom: 15px;
}

.slide-swiper-reviews__text:not(:last-child) {
  margin-bottom: 56px;
}





.slide-swiper-reviews__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--text-titel--);
}

.slide-swiper-reviews__name:not(:last-child) {
  margin-bottom: 8px;
}

.slide-swiper-reviews__position {
  color: var(--text-secondary--);
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: 0.08em;
  font-weight: 500;
  text-transform: uppercase;

}


.swiper-reviews__pagination {
  display: flex;
  transform: translate(0px, -100%);
  justify-content: flex-end;
}

.swiper-reviews__pagination .swiper-pagination-bullet {
  opacity: 1;
  background: var(--bullet-passive--);
  border-radius: 20px;
  flex: 0 0 10px;
  height: 16px;
  transition: all 0.3s ease 0s;


}

.swiper-reviews__pagination .swiper-pagination-bullet-active {
  background: var(--bullet-active--);
  flex: 0 0 24px;


}



/*-----reviews Adaptive-------- */
@media (max-width: 1092px) {
  .reviews {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .reviews__title {
    margin-bottom: 80px;
  }

}

@media (max-width: 767.98px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .reviews__title {
    margin-bottom: 40px;
  }

}

@media (max-width: 479.98px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .reviews__title {
    margin-bottom: 20px;
  }

}

/* -----slider Adaptive------- */
@media (max-width: 1092px) {
  .reviews__swiper .swiper {
    margin-left: -15px;
  }
}

@media (max-width: 767.98px) {
  .slide-swiper-reviews {
    flex-direction: column;
  }

  .slide-swiper-reviews__body {
    padding-left: 15px;
  }

  .swiper-reviews__pagination.swiper-pagination {
    position: relative;
    bottom: 0;
    justify-content: center;
    transform: translate(0px, 0px);
    padding-top: 30px;

  }
}

@media (max-width: 479.98px) {
  .slide-swiper-reviews__image {
    width: 270px;
    height: 270px;
  }

  .slide-swiper-reviews__image::before {
    content: '';
    position: absolute;
    width: 225px;
    height: 180px;
    right: 85px;
    top: 50px;
    transform: rotate(-10deg);
    background-color: var(--accent--);
    border-radius: 40px 0px 400px 400px;
  }

  .slide-swiper-reviews__text {
    font-size: 18px;
  }

  .slide-swiper-reviews__name:not(:last-child) {
    margin-bottom: 25px;
  }

}

/* -------favorite------ */


.favorite {
  padding-bottom: 120px;
}

.favorite__container {
  display: flex;
  text-align: center;
}

.favorite__body {
  padding-right: 20px;
  flex: 0 1 50%;
}

.favorite__title {
  text-align: left;
  font-size: 48px;
  line-height: 1.2;


}

.favorite__title:not(:last-child) {
  margin-bottom: 60px;
}



.apps-favorite {
  display: flex;
  gap: 25px;
}

.apps__fovorite__item img {
  max-width: 100%;
}

.favorite__images {
  flex: 0 1 50%;
  text-align: center;
}

.favorite__images img {
  max-width: 100%;
}

@media (max-width: 1092px) {
  .favorite {
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .favorite {
    padding-bottom: 40px;
  }

  .favorite__container {
    flex-direction: column;
  }

  .favorite__title {
    font-size: 38px;
    text-align: center;
  }

  .favorite__title:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (max-width: 479.98px) {
  .favorite {
    padding-bottom: 20px;
  }

  .favorite__title {
    font-size: 28px;
    text-align: center;
  }

  .favorite__images {
    align-items: center;

  }

  .favorite__body {
    padding-right: 0;
  }

  .apps-favorite {

    gap: 10px;
  }
}

/* -----footer------ */

.footer {
  background: var(--bg-footer--);
  padding-top: 80px;
  padding-bottom: 40px;

}



.footer__body {
  display: flex;
  gap: 120px;


}



.body-footer__column {
  flex: 1 1 auto;

}

.body-footer__logo {
  display: inline-block;

}

.body-footer__logo:not(:last-child) {
  margin-bottom: 28px;
}



.contacts-footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-footer__link {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  padding-left: 44px;
  color: var(--text-footer--);
  text-decoration: none;

}

.contacts-footer__link-mail {
  background: url('../img/footer/sms.svg') left no-repeat;
}

.contacts-footer__link-location {
  background: url('../img/footer/location.svg') left no-repeat;
}



.menu-footer__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--text-titel--);
}



.menu-footer__item:not(:last-child) {
  margin-bottom: 16px;
}



.social-footer__title {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--text-titel--);
}

.social-footer__list {
  display: flex;

}



.social-footer__item:not(:last-child) {
  margin-right: 32px;
}



.footer__copy {
  padding-top: 80px;
  text-align: center;
}

@media (max-width: 1092px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .body-footer {
    flex-wrap: wrap;
  }

  .body-footer__column:first-child {
    flex: 1 1 100%;
  }
}

@media (max-width: 767.98px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

}

@media (max-width: 479.98px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .contacts-footer__link {

    font-size: 20px;

  }

  .footer__body {
    display: flex;
    gap: 50px;


  }


}